<h1>Authenticating your app</h1>
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
  <script>
    setTimeout(function() {
      window.location.href = "/oauth/authenticate_klaviyo"; 
    }, 1 * 1000);
  </script>